.edit-form__profile{
    display: flex;
    flex-direction: column;
    position: absolute;
    
    background-color: #FFFFFF;
    height: 330px;
    width: 430px;
    border-radius: 10px; 
    margin: 34px auto 54px;
}