.form__profile{
    display: flex;
    flex-direction: column;
    position: fixed;
    
    background-color: #FFFFFF;
    height: 330px;
    width: 430px;
    border-radius: 10px; 
    margin: 34px auto 54px;

    z-index: 2;
}



@media screen and (max-width: 767px){
    .form__profile{
        width: 240px;
        
    }
}