.popup__close-button{
   position: absolute;
   top: -10%;
   right: -7%;
    background-image: url("../../../images/Close-Icon.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    
    cursor: pointer;
}

.popup__close-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 767px){
    .popup__close-button{           
        right: -12%;     

        height: 30px;
        width: 30px;
    }
}