.popup__title{
    position: relative;
    right: -33%;
    top: -1%;  
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    
    font-size: 12px;
    line-height: 15px;
    /* justify-content: start; */
    color: #FFFFFF;
    margin: 10px 0 0;
    
}